.burger__button {
  color: $primary;
  border: 0;
  background-color: transparent;

  &--off {
    display: none;
  }
}

.burger__icon-menu {
  fill: $primary;
}

.nojs-burger__button {
  display: none;
}
