.consumers {
  position: relative;
  margin-bottom: 30px;
}

.consumers__slider {
  @include reset-list();
  display: flex;
  align-items: center;
}

.consumers__image {
  &--danone,
  &--akashevo {
    max-height: 200px;
  }
}

@media (min-width: $tablet) {
  .consumers {
    margin-bottom: auto;
  }
}
