.contacts__list {
  @include reset-list();
  color: $secondary;
}

.contacts__item {
  display: flex;
  margin-bottom: 10px;
}

.contacts__icon {
  margin-right: 10px;
  fill: $secondary;
  &--pin {
    width: 30px;
  }
}

.contacts__subtitle {
  font-size: 17px;
  color: $white;
}

.contacts__link {
  @include link();
  &:hover {
    @include link-hover();
  }
  &--map {
    &:hover {
      transform: scale(1.1);
    }
  }
}

//@media (min-width: $mobile-plus) {
//  .contacts__icon {
//    &--pin {
//      width: 50px;
//    }
//  }
//}

@media (min-width: $laptop) {
  .contacts__icon {
    &--pin {
      width: auto;
    }
  }
}

@media (max-width: 381px) {
  .contacts__social {
    margin-bottom: 15px;
  }
}
