.custom-collapse {
  background-color: $primary-light;
  border-radius: 5px;
}

.custom-collapse__subtitle {
  font-size: 18px;
  padding: 16px;
  margin-bottom: 0;
}

.custom-collapse__button {
  padding: 0.4rem;
  background-color: $primary;
  border-radius: 50%;
}

.custom-collapse__content {
  margin-top: 20px;
  transition: $transition-default;
}

.custom-collapse__content:not(.show) {
  display: none;
}

.custom-collapse__icon {
  fill: $secondary;
  &:hover {
    opacity: 0.75;
  }
}

.custom-collapse__icon--expand {
  transition: $transition-default;
  transform: rotate(0deg);
  will-change: transform;
}

.custom-collapse__icon--expand.show {
  transform: rotate(180deg);
}

@media (min-width: $tablet) {
  .custom-collapse__subtitle {
    font-size: 1.25rem;
  }
}
