.decor {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: $primary;
  background-color: $white;
  text-align: center;

  &--bg {
    padding: 0;
    background-image: url("../images/content/logo-filko-light.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--primary {
    background-color: $primary;
  }

  &--secondary {
    background-color: $secondary;
  }

  &--primary-light {
    background-color: $primary-light;
  }

  &--transparent {
    background-color: transparent;
  }
}

.decor__number {
  font-size: 50px;
  font-weight: 700;
}

.decor__text {
  font-size: 18px;
  line-height: 1;

  &--small {
    font-size: 13px;
    font-weight: 700;
  }
  &--automobile {
    max-width: 120px;
    margin: 0 auto;
    line-height: 1.6;
  }
}

@media (min-width: $tablet) {
  .decor__number {
    font-size: 60px;
  }
}
