.features__list {
  @include reset-list();
}

.features__item {
  border-bottom: 1px solid $secondary;
  padding: 40px !important;
  &:last-child {
    border-bottom: 0;
  }
}

.features__link {
  padding: 40px;
  display: block;
  height: 100%;
  color: $secondary;
  background-color: $primary-light;
  &:hover {
    color: $secondary;
  }
}

.features__decor {
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: $transition-default;
}

.features__icon {
  width: 40px;
  height: 40px;
  fill: $secondary;
}

.features__subtitle {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 991.98px) {
  .features__item {
    //border-right: 1px solid $secondary;
    &:nth-child(2n) {
      border-right: 0;
    }
    &:nth-last-child(-n+1) {
      border-bottom: 0;
    }
  }
}

@media (min-width: $tablet) {
  .features__decor {
    width: 90px;
    height: 90px;
  }

  .features__icon {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: $laptop) {
  .features__list {
    justify-content: center;
  }
  .features__item {
    &:nth-child(4),
    &:nth-child(5) {
      border-bottom: 0;
    }
  }
}
