.form {
  display: flex;
  flex-direction: column;

  &--callback {
    .form-check {
      padding-left: 1.55rem;
      margin-bottom: 10px;
    }
  }
}

.form__label {
  color: $white;
  user-select: none;
}

.form__input {
  &:required {
    &:valid {
      box-shadow: $valid-input;
    }

    &:invalid {
      box-shadow: $invalid-input;
    }
  }
}

.form-text {
  position: absolute;
}

.form__form-group {
  margin-bottom: 30px;
}

.form__link {
  @include link();

  &:hover {
    @include link-hover();
  }
}
