.main-nav {
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  color: $primary;
}

.main-nav__item {
  border-bottom: $border-secondary;
  &:last-child {
    border-bottom: 0;
  }
}

.main-nav__link {
  color: $primary;
  &:hover {
    color: $secondary
  }
}

@media (min-width: $tablet) {
  .main-nav__item {
    border: 0;
    margin-right: 10px;
    font-size: 14px;
  }
}

@media (min-width: $laptop) {
  .main-nav {
    &__item {
      margin: 0 5px;
      font-size: 15px;
    }
  }
}

@media (min-width: $desktop) {
  .main-nav {
    &__item {
      font-size: inherit;
    }
  }
}
