.page-footer {
  padding: 30px 1rem;
}

.page-footer__text {
  margin: 0;
}

.page-footer__icon {
  margin-right: 5px;
  fill: $secondary;
}

.page-footer__link {
  @include link();
  &:hover {
    @include link-hover();
  }
}

.page-footer__hr {
  border-color: $secondary;
}
