.section {
  padding: 35px 0;
}

@media (min-width: $tablet) {
  .section {
    padding: 50px 20px;
  }
}

@media (min-width: $desktop) {
  .section {
    position: relative;
    &-pattern::before {
      content: "";
      position: absolute;
      top: 35px;
      display: block;
      width: 40%;
      height: 90%;
      background-color: $primary-light;
      opacity: $opacity-default;
    }
    &-pattern--left::before {
      left: 0;
    }
    &-pattern--center::before {
      left: 50%;
      transform: translate(-50%, 0);
    }
    &-pattern--right::before {
      right: 0;
    }
  }
}

@media (min-width: $desktop) {
  .section {
    padding: 80px 30px 40px;
  }
}
