.specifications__table {
  &.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: $primary-light;
  }
  &.table thead th {
    border-color: $secondary;
  }
  & td, th {
   border-top: $border-secondary;
  }
}

.specifications__title {
  margin-bottom: 15px;
  text-align: center;
}
