.title {
  &--section {
    position: relative;
    font-size: 25px;
    margin-bottom: 60px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &:before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: calc(40%);
      display: block;
      width: 20%;
      height: 6px;
      background-color: $secondary;
      border-radius: 10px;
    }
  }
}

@media (min-width: $tablet) {
  .title {
    &--section {
      font-size: 30px;
      margin-bottom: 40px;
      text-align: left;

      &:before {
        top: -20px;
        left: 0;
        width: 75px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .title {
    font-size: 40px;
    //&--section {
    //  &:before {
    //    top: -40px;
    //  }
    //}
  }
}
