$mobile-plus: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$primary: #2F343A;
$primary-light: #393F47;
$secondary: #fcaf10;
$focus: #80bdff;
$disabled: #7e7e7e;
$white: #ffffff;
$success: #28a745;
$danger: #dc3545;
$border-secondary: 1px solid $secondary;
$valid-input: 0 0 0 1px $success;
$invalid-input: 0 0 0 1px $danger;
$transition-default: all .25s ease;
$opacity-default: 0.75;
$swiper-pagination-color: $secondary;
